parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method getData\\(\\) on Cake\\\\Http\\\\ServerRequest\\|null\\.$#"
			count: 1
			path: src/Controller/AdapterOnly/ArticlesController.php

		-
			message: "#^Cannot call method is\\(\\) on Cake\\\\Http\\\\ServerRequest\\|null\\.$#"
			count: 1
			path: src/Controller/AdapterOnly/ArticlesController.php

		-
			message: "#^Cannot call method allowMethod\\(\\) on Cake\\\\Http\\\\ServerRequest\\|null\\.$#"
			count: 1
			path: src/Controller/Admin/UsersController.php

		-
			message: "#^Cannot call method allowMethod\\(\\) on Cake\\\\Http\\\\ServerRequest\\|null\\.$#"
			count: 1
			path: src/Controller/ArticlesController.php

		-
			message: "#^Cannot call method getData\\(\\) on Cake\\\\Http\\\\ServerRequest\\|null\\.$#"
			count: 1
			path: src/Controller/ArticlesController.php

		-
			message: "#^Cannot call method is\\(\\) on Cake\\\\Http\\\\ServerRequest\\|null\\.$#"
			count: 1
			path: src/Controller/ArticlesController.php

		-
			message: "#^Cannot call method getSession\\(\\) on Cake\\\\Http\\\\ServerRequest\\|null\\.$#"
			count: 1
			path: src/Controller/DemoController.php

		-
			message: "#^Cannot call method allowMethod\\(\\) on Cake\\\\Http\\\\ServerRequest\\|null\\.$#"
			count: 1
			path: src/Controller/ExternalRoleSwitcherController.php

		-
			message: "#^Cannot call method getData\\(\\) on Cake\\\\Http\\\\ServerRequest\\|null\\.$#"
			count: 1
			path: src/Controller/ExternalRoleSwitcherController.php

		-
			message: "#^Cannot call method getSession\\(\\) on Cake\\\\Http\\\\ServerRequest\\|null\\.$#"
			count: 1
			path: src/Controller/ExternalRoleSwitcherController.php

		-
			message: "#^Cannot call method allowMethod\\(\\) on Cake\\\\Http\\\\ServerRequest\\|null\\.$#"
			count: 3
			path: src/Controller/FeatureSwitcherController.php

		-
			message: "#^Cannot call method getData\\(\\) on Cake\\\\Http\\\\ServerRequest\\|null\\.$#"
			count: 3
			path: src/Controller/FeatureSwitcherController.php

		-
			message: "#^Cannot call method getSession\\(\\) on Cake\\\\Http\\\\ServerRequest\\|null\\.$#"
			count: 4
			path: src/Controller/FeatureSwitcherController.php

		-
			message: "#^Cannot call method getParam\\(\\) on Cake\\\\Http\\\\ServerRequest\\|null\\.$#"
			count: 1
			path: src/Controller/FullBackend/AppController.php

		-
			message: "#^Cannot call method allowMethod\\(\\) on Cake\\\\Http\\\\ServerRequest\\|null\\.$#"
			count: 1
			path: src/Controller/FullBackend/ArticlesController.php

		-
			message: "#^Cannot call method getData\\(\\) on Cake\\\\Http\\\\ServerRequest\\|null\\.$#"
			count: 1
			path: src/Controller/FullBackend/ArticlesController.php

		-
			message: "#^Cannot call method is\\(\\) on Cake\\\\Http\\\\ServerRequest\\|null\\.$#"
			count: 1
			path: src/Controller/FullBackend/ArticlesController.php

		-
			message: "#^Cannot call method getData\\(\\) on Cake\\\\Http\\\\ServerRequest\\|null\\.$#"
			count: 1
			path: src/Controller/FullBackend/ProjectsController.php

		-
			message: "#^Cannot call method is\\(\\) on Cake\\\\Http\\\\ServerRequest\\|null\\.$#"
			count: 1
			path: src/Controller/FullBackend/ProjectsController.php

		-
			message: "#^Cannot call method allowMethod\\(\\) on Cake\\\\Http\\\\ServerRequest\\|null\\.$#"
			count: 1
			path: src/Controller/ProjectsController.php

		-
			message: "#^Cannot call method getData\\(\\) on Cake\\\\Http\\\\ServerRequest\\|null\\.$#"
			count: 1
			path: src/Controller/ProjectsController.php

		-
			message: "#^Cannot call method is\\(\\) on Cake\\\\Http\\\\ServerRequest\\|null\\.$#"
			count: 1
			path: src/Controller/ProjectsController.php

		-
			message: "#^Cannot call method allowMethod\\(\\) on Cake\\\\Http\\\\ServerRequest\\|null\\.$#"
			count: 3
			path: src/Controller/RoleSwitcherController.php

		-
			message: "#^Cannot call method getData\\(\\) on Cake\\\\Http\\\\ServerRequest\\|null\\.$#"
			count: 3
			path: src/Controller/RoleSwitcherController.php

		-
			message: "#^Cannot call method getSession\\(\\) on Cake\\\\Http\\\\ServerRequest\\|null\\.$#"
			count: 4
			path: src/Controller/RoleSwitcherController.php
