parameters:
	level: 5
	treatPhpDocTypesAsCertain: false
	bootstrapFiles:
		- config/bootstrap.php
	paths:
		- src/
	ignoreErrors:
		# CakePHP ORM dynamic property access for view layer
		- '#Cannot access property \$can(Edit|Delete) on array\|Cake\\Datasource\\EntityInterface#'
		# TinyAuth Role entity parent_id access
		- '#Access to an undefined property Cake\\Datasource\\EntityInterface::\$parent_id#'
