parameters:
	level: 5
	treatPhpDocTypesAsCertain: false
	bootstrapFiles:
		- config/bootstrap.php
	paths:
		- src/
	ignoreErrors:
		# TinyAuth Role entity parent_id access
		- '#Access to an undefined property Cake\\Datasource\\EntityInterface::\$parent_id#'
